/** @format */

.Inscriptions {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease-in;
	padding: 5% 0;
	opacity: 1;
	visibility: visible;
}

.Inscriptions.close {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease-in;
}

.Inscriptions-close-btn {
	position: absolute;
	border: none;
	top: -10px;
	right: -10px;
	z-index: 10;
	background-color: white;
	color: var(--primary-purple);
	width: 30px;
	height: 30px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

.Inscriptions-close-btn:hover {
	background-color: #6000de;
	color: white;
	box-shadow: -1px 1px 3px rgb(46, 46, 46);
}

.btn-container {
	display: flex;
	justify-content: center;
	gap: 12px;
	flex-wrap: wrap;
	font-family: var(--font-primary);
	margin-bottom: 12px;
}

.btn-camb {
	/* position: absolute; */
	display: flex;
	align-items: center;
	justify-content: center;

	/* margin-left: auto;
	margin-right: auto; */
	/* left: 0;
	right: 0; */

	border: 3px solid var(--primary-purple);
	color: var(--primary-purple);
	background-color: #6000de25;
	width: 170px;
	height: 50px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	/* margin-bottom: 24px; */
	transition: all 0.2s ease-in;
}

.btn-camb:hover {
	background: var(--primary-purple);
	color: white;
}

.Inscriptions-content {
	height: auto;
	max-width: 550px;
	position: relative;
	transform: scale(1);
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	background-color: #fafafa;
	border-radius: 20px;
}

.container-info {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: var(--font-secondary);
	margin-bottom: 12px;
}

.container-title {
	width: 100%;
}

.container-info div {
	padding: 24px;
	background-color: var(--primary-purple);
	border-radius: 20px 20px 0 0;
	font-family: var(--font-primary);
}

.container-info h2 {
	color: white;
	font-size: 28px;
	text-align: center;
}

.container-info p {
	color: black;
	font-size: 16px;
	text-align: center;
	padding: 12px 24px 0;
}

.container-info span {
	background-color: red;
	margin: 12px 0;
	padding: 12px 24px;
	border-radius: 10px;
	color: white;
	font-weight: 600;
	text-align: center;
}

.container-info p b u {
	font-weight: 700;
	text-decoration: underline;
}

.Inscriptions-content.close {
	transform: scale(0);
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.Inscriptions-content img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

@media screen and (max-width: 860px) {
	.Inscriptions-content {
		height: auto;
		width: 90vw;
	}
}

@media screen and (max-width: 720px) {
	.btn-camb {
		width: 70px;
		height: 40px;
		font-size: 14px;
	}

	.container-info span {
		margin: 12px 24px;
	}
}

@media screen and (max-width: 375px) {
	.container-info p {
		font-size: 14px;
	}
}

@media screen and (max-width: 320px) {
	.container-info p {
		font-size: 12px;
	}
}
