.mainContainer {
	display: flex;
	flex-direction: column;
	gap: 12px;
	overflow-x: hidden;
}

.leftScroll {
	display: flex;
	flex-flow: row nowrap;
	gap: 24px;
	width: 100%;
	margin-top: 24px;
	animation: 100s linear infinite movedLeft;
}

.rightScroll {
	display: flex;
	justify-content: flex-end;
	flex-flow: row nowrap;
	gap: 24px;
	width: 100%;
	animation: 100s linear infinite movedRight;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	background-color: #1a1d1e;
	width: 200px;
	height: 70px;
	border-radius: 50px;
	flex-shrink: 0;
}

.bubble img {
	width: 60%;
	opacity: 0.5;
}

@keyframes movedLeft {
	0% {
		transform: translateX(50px);
	}

	50% {
		transform: translateX(-2180px);
	}

	100% {
		transform: translateX(50px);
	}
}

@keyframes movedRight {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(2180px);
	}

	100% {
		transform: translateX(0);
	}
}
