.mainSection {
	/* margin-top: 100px; */
	font-family: var(--font-primary);
	overflow: hidden;
}

.titleContainer {
	position: relative;
	width: 100%;
	/* overflow: hidden; */
	margin-top: 24px;
}

.titleContainer h1 {
	font-size: 60px;
	font-weight: 700;
	-webkit-text-stroke: 2px white;
	color: transparent;
	flex-shrink: 0;
}

.titleContainer h2 {
	font-size: 60px;
	font-weight: 700;
	color: var(--white-color);
	flex-shrink: 0;
}

.titleContainer h3 {
	display: flex;
	align-items: center;
	height: 80px;
	font-size: 60px;
	font-weight: 700;
	flex-shrink: 0;
	background: linear-gradient(270deg, #4d89f9 1.21%, #704ee7 21.78%, #e8428c 71.65%, #ed6d4b 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.moved {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	align-items: center;
	gap: 24px;
	height: 120px;
	animation: 100s linear infinite movedText;
}

.titleContainer::after {
	content: '';
	position: absolute;
	inset-block-start: 0;
	inset-inline: 0;
	height: 120px;
	background-color: #1a1d1e;
	z-index: -1;
}

.asterisco {
	max-width: 50px;
	max-height: 50px;
}

@keyframes movedText {
	0% {
		transform: translateX(20px);
	}

	50% {
		transform: translateX(-4400px);
	}

	100% {
		transform: translateX(20px);
	}
}
